<html>
    <head>
        <title>한끼식사</title>
        <link rel="stylesheet" type="text/css" href="asset/css.css">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
        <meta charste="utf-8">
    </head>
    <body>
        

        <div class="start">
            
            <div class="start_img">
                <div class="start_opacity">
                </div>


                <div class="login_title">한&nbsp;끼&nbsp;식&nbsp;사</div>
                <input type="text" name="userId" placeholder="ID">
                <input type="password" name="password">
                <a href=""> <div>로그인</div> </a>
                <a href=""> <div>회원가입</div> </a>

                <div class="login_boxs">
                    <input type="text" name="userId" placeholder="ID" class="input_box">
                    <p></p>
                    <input type="password" name="password" placeholder="PW" class="input_box">
                    <p></p>
                    <a href=""> <div class="boxbox">로그인</div> </a>
                    <p></p>
                    <a href=""> <div class="boxbox">회원가입</div> </a>
                    <p></p>
                    <a href=""> <div class="boxbox">아이디 찾기</div> </a>
                    <p></p>
                    <a href=""> <div class="boxbox_last">비밀번호 찾기</div> </a>

                </div>

            </div>
        </div>

    
    </body>
</html>