<html>
    <head>
        <title>한끼식사</title>
        <link rel="stylesheet" type="text/css" href="asset/css.css">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
        <meta charste="utf-8">
    </head>
    <body>
        <form action="/add" method ="post">
            <input type="text" name ="business_name" placeholder="가게명"><br>
            <input type="text" name ="tel" placeholder="전화번호"><br>
            <input type="text" name ="restaurant_type" placeholder="가게 타입"><br>
            <input type="text" name ="Classification_address" placeholder="분류 지역"><br>
            <input type="text" name ="address" placeholder="상세주소"><br>
            <input type="text" name ="open_time" placeholder="오픈시간"><br>
            <input type="text" name ="close_time" placeholder="닫는시간"><br>
            <input type="submit" >
        </form>
        
    </body>
</html>